interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - Basic SPOTIFY_CLIENT_AUTH
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://accounts.spotify.com/api/token
  response:
    body:
      string: '{"access_token":"BQDmiWYPk1cSADpNRt4xpn42L0eYv-l6aIJ4RkY22xepvp5pIy2HceKq8sC-0aI45PhQ6E1-fpQTtxFGiO0","token_type":"Bearer","expires_in":3600,"scope":""}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDmiWYPk1cSADpNRt4xpn42L0eYv-l6aIJ4RkY22xepvp5pIy2HceKq8sC-0aI45PhQ6E1-fpQTtxFGiO0
    method: GET
    uri: https://api.spotify.com/v1/recommendations?seed_tracks=2MIcpZ7MBeCUEVFDBqU7Ei%2C4v6dF5830rtgjYr0uov248%2C2SpLqYLZ5GQTFTDwA4xwGS&limit=5
  response:
    body:
      string: "{\n  \"tracks\" : [ {\n    \"album\" : {\n      \"album_type\" : \"\
        ALBUM\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n       \
        \   \"spotify\" : \"https://open.spotify.com/artist/5snNHNlYT2UrtZo5HCJkiw\"\
        \n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/5snNHNlYT2UrtZo5HCJkiw\"\
        ,\n        \"id\" : \"5snNHNlYT2UrtZo5HCJkiw\",\n        \"name\" : \"Epik\
        \ High\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:5snNHNlYT2UrtZo5HCJkiw\"\
        \n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\"\
        , \"AU\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CA\", \"CH\", \"CL\",\
        \ \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\",\
        \ \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GB\", \"GR\", \"GT\", \"HK\",\
        \ \"HN\", \"HU\", \"ID\", \"IE\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\",\
        \ \"JP\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\",\
        \ \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"NZ\", \"OM\", \"PA\",\
        \ \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\",\
        \ \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"US\",\
        \ \"UY\", \"VN\", \"ZA\" ],\n      \"external_urls\" : {\n        \"spotify\"\
        \ : \"https://open.spotify.com/album/1e8oyAuXoF4DTtycaUGd7Z\"\n      },\n\
        \      \"href\" : \"https://api.spotify.com/v1/albums/1e8oyAuXoF4DTtycaUGd7Z\"\
        ,\n      \"id\" : \"1e8oyAuXoF4DTtycaUGd7Z\",\n      \"images\" : [ {\n  \
        \      \"height\" : 640,\n        \"url\" : \"https://i.scdn.co/image/88c820afe7a607e8de4043d8dd130f2bb70fa769\"\
        ,\n        \"width\" : 640\n      }, {\n        \"height\" : 300,\n      \
        \  \"url\" : \"https://i.scdn.co/image/072d855e026ff09c1d7d8f64ea657e3f3d1b4e02\"\
        ,\n        \"width\" : 300\n      }, {\n        \"height\" : 64,\n       \
        \ \"url\" : \"https://i.scdn.co/image/b90fef1d1c69eacde727809b0af5da7905ca71b2\"\
        ,\n        \"width\" : 64\n      } ],\n      \"name\" : \"\u9B42 Map the Soul\"\
        ,\n      \"release_date\" : \"2009-03-27\",\n      \"release_date_precision\"\
        \ : \"day\",\n      \"total_tracks\" : 0,\n      \"type\" : \"album\",\n \
        \     \"uri\" : \"spotify:album:1e8oyAuXoF4DTtycaUGd7Z\"\n    },\n    \"artists\"\
        \ : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/5snNHNlYT2UrtZo5HCJkiw\"\
        \n      },\n      \"href\" : \"https://api.spotify.com/v1/artists/5snNHNlYT2UrtZo5HCJkiw\"\
        ,\n      \"id\" : \"5snNHNlYT2UrtZo5HCJkiw\",\n      \"name\" : \"Epik High\"\
        ,\n      \"type\" : \"artist\",\n      \"uri\" : [...]
